{% extends 'base.html' %}


{% block content %}

<div.class="container">
     <!-- Header Section -->
     <header class="row">
        <div class="col-6 col-md-4" id="header-text">
            <h2>Spider-man movies are the best movies ever</h2>
            <h5>Spider-man is a superhero film adaptation of one of stan Lee's most popular marvel comics.</h5>
            <div>
                <button class="btn btn-primary">My Account</button>
                <button class="btn btn-primary">Contact Us</button>
            </div>
        </div>
        <div class="col-8 col-md-4">
            <img class="header-image" src="../../static/images/spidermanEnd.png" alt="Hero Header Image">
        </div>
    </header>
    <!-- End of Header Section -->
    

    <!-- Collection of Features Section -->
    <section class="row" id="feature-section">
        <div class="col-8 col-md-4">
            <img src="../../static/images/spiderman.jpg">
            <h4>No way home </h4>
            <p>
                This is one of the best marvel movies I have ever seen.
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/spiderman.jpg">
            <h4>Spider-man Trilogy</h4>
            <p>
                Good story.This film serves us very accurate and legendary spider-man story.
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/spiderman.jpg">
            <h4>spider-man Far from back home</h4>
            <p>
                good live-action spider-man
            </p>
        </div>
    </section>
    <!-- End of Collection Features -->


        

   <!-- End of community Section -->

   <!-- Footer Section -->
   <footer class="row" id="footer">
    <div class="col-2">
        <img src="../../static/images/logo.jpg" alt="spider-man movie Logo" id="footer-logo">
    </div>
    <div class="col-2">
        <div class="footer-text-flex">
            <h4>Homepage</h4>
            <p>Now playing</p>
            <p>Streaming</p>
            <p>Trailer</p>
            <p>Upcoming</p>
            <p>Top 10 movies</p>
        </div>
    </div>
    <div class="col-2">
        <div class="footer-text-flex">
            <h4>Now playing</h4>
            <p>Now playing</p>
            <p>Streaming</p>
            <p>Trailer</p>
            <p>Upcoming</p>
            <p>Top 10 movies</p>
        </div>
    </div>
    <div class="col-2">
        <div class="footer-text-flex">
            <h4>Upcoming</h4>
            <p>Now playing</p>
            <p>Streaming</p>
            <p>Trailer</p>
            <p>Upcoming</p>
            <p>Top 10 movies</p>
        </div>
    </div>
    <div class="col-2">
        <div class="footer-text-flex">
            <h4>Trailer</h4>
            <p>Now playing</p>
            <p>Streaming</p>
            <p>Trailer</p>
            <p>Upcoming</p>
            <p>Top 10 movies</p>
        </div>
    </div>
    </footer>
</div>
{% endblock content %}
